@import '../../../../styles/globals.scss';

.exclusives {
    position: relative;
    height: 92vh; width: 100%;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__header {
            position: relative;
            z-index: 50;

            width: 100vw;

            font-family: "FairyDust";
            font-size: calc(10px + 6vw);
            letter-spacing: 6px;
            font-weight: 100;
            text-align: center;

            color: white;
            text-shadow: 0 0 3px rgb(253, 255, 111), 0 0 4px rgb(7, 7, 7), 0 0 4px rgb(255, 145, 2);
        }

        &__btn {
            position: relative;
            z-index: 50;

            @include btnInvert;
            min-width: 200px;
            width: 30vw;
            font-size: calc(10px + 3vw);
            text-shadow: 0 0 10px $aqua;

            background: rgba(0,0,0,.4);
            box-shadow: 0 0 10px $aqua;

            border-radius: 5px;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }
    }

    &__img {
        z-index: 0;
        position: absolute;
        left: 0; top: 0;
        height: 100%; width: 100%;
        object-fit: cover;
    }   
}

@media screen and (max-width: 1024px) {
    .exclusives {
        padding-bottom: 75px;
        height: 50vh;
        justify-content: center;
        align-items: center;
        &__details { padding-top: 75px; }
    }
}